.header {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10%;
}

.nav-link a {
    color: white;
    text-decoration: none;
    padding-left: 7%;
}

.nav-link a:hover {
    color: chocolate;
}